body {
  margin: 0;
}

.ant-table-tbody {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.ant-table-tbody .ant-table-row:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.142);
}

.ant-table-row {
  font-size: 14px;
  height: 60px;
}

.deleteButton {
  border: "1px solid #dedede";
  color: red;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
